/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	background: $palette-primary_3;
	color: $text-contrast-palette-primary_3;

	/*-----------------------------------------------
	## 1
	-----------------------------------------------*/
	#wp-calendar tbody td { 
		background: $palette-primary_1;
		border: 1px solid $palette-primary_2;
		color: $text-contrast-palette-primary_1;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: $palette-primary_1;
	}
	.nav-next,
	.nav-previous {
		background-color: $palette-primary_1;
		border: 1px solid $palette-primary_3;
	}
	.nav-next a,
	.nav-previous a,
	#menu-social a,
	#wp-calendar tbody td a,
	.navbar-default .dropdown-menu > li > a {
		color: $text-contrast-palette-primary_1;
	}
	.sidebar a,
	.sidebar .nav > li > a,
	.sidebar .nav > li::before,
	.heading-alt,
	.link-primary,
	.link-secondary,
	.media-heading a.url,
	.site-footer a,
	#menu-social li a,
	#wp-calendar caption,
	#wp-calendar tbody,
	#wp-calendar tfoot #next,
	#wp-calendar tfoot #prev,
	.comment-meta a:hover,
	.comment-meta a:focus,
	.comment-reply-title a:hover,
	.comment-reply-title a:focus,
	#cancel-comment-reply-link:hover,
	#cancel-comment-reply-link:focus,
	.table > thead > tr > th,
	.widget ul#recentcomments > li::before,
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
		color: $palette-primary_1;
	}
	#secondary-menu,
	#tertiary-menu,
	#footer-center-menu,
	#menu-social {
		.current-menu-item a {
			color: $palette-primary_1;
		}
	}
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar {
		background: $text-contrast-palette-primary_1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: $text-contrast-palette-primary_1;
	}
	.navbar-default .navbar-nav .dropdown-menu {
		background: $palette-primary_1;
	}
	.widget-area {
		border: 1px solid $text-contrast-palette-primary_1;
	}
	
	@media only screen and (min-width: 768px) {
		.navbar-default .navbar-nav .open .dropdown-menu > li > a {
			color: $text-contrast-palette-primary_1;
		}
	}

	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	a,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a.url,
	caption,
	.entry-footer .cat-links > a,
	.entry-footer .tags-links > a {
		color: $palette-primary_2;
	}
	hr {
		background: $text-contrast-palette-primary_2;
	}
	.post {
		border-bottom: 1px solid $palette-primary_2;
	}
	.widget .table-striped > tbody > tr:nth-child(2n+1) > td  {
		background: $palette-primary_3;
		border: 1px solid $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	.comments,
	.comment-meta a,
	.comments-title,
	.site-footer,
	.panel-heading,
	.media-heading,
	.cat-item-none,
	.logged-in-as a,
	#wp-calendar #today,
	.widget ul#recentcomments > li,
	.comments-area .comment-content p {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	#menu-social a,
	#menu-social li a,
	#secondary-menu a,
	#tertiary-menu a,
	#footer-center-menu a,
	.comment-respond a,
	.comment-reply-title,
	#wp-calendar #today a {
		color: $text-contrast-palette-primary_2;
	}
	.sidebar,
	.site-header,
	.panel-body,
	.panel-footer,
	#wp-calendar tbody .pad {
		background: $palette-primary_2;
	}

	/* Custom */
	.colored-bg {
		background: $palette-primary_2;
	}

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	aside.sidebar h2.widget-title {
		border-bottom: 1px solid $palette-primary_3;
		color: $palette-primary_5;
	}
	code {
		background-color: $palette-primary_2;
	    color: $text-contrast-palette-primary_2;
	}
	.entry-footer {
		background-color: $palette-primary_3;
	}
	.entry-footer a {
		background: $palette-primary_3;
		color: $text-contrast-palette-primary_3;
	}
	.navbar-default .navbar-toggle {
		background: $palette-primary_3;
		border-color: $palette-primary_3;
	}

	/*-----------------------------------------------
	## 4
	-----------------------------------------------*/
	blockquote {
		border-left: 5px solid $palette-primary_4;
	}
	td, th {
	    border-bottom: 0.1rem solid $palette-primary_4;
	}
	pre {
	    color: $text-contrast-palette-primary_4;
	    background-color: $palette-primary_4;
	    border: 1px solid $palette-primary_3;
	}
	#wp-calendar tbody td:hover{ 
		background: $palette-primary_4; 
		color: $text-contrast-palette-primary_4; 
	}
	.nav-next:hover,
	.nav-previous:hover {
		background: $palette-primary_4;
	}
	.tagcloud a:hover,
	.tagcloud a:focus,
	#menu-social li a:hover,
	#menu-social li a:focus,
	#secondary-menu a[href]:hover,
	#tertiary-menu a[href]:hover,
	#footer-center-menu a[href]:hover,
	.sidebar .nav > li > a:focus, 
	.sidebar .nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.widget ul#recentcomments > li > a:hover,
	.widget ul#recentcomments > li > a:focus,
	.widget ul#recentcomments > li > span > a:hover,
	.widget ul#recentcomments > li > span > a:focus {
		color: $palette-primary_4;
	}
	.nav-next a:hover,
	.nav-next a:focus,
	.nav-previous a:hover,
	.nav-previous a:focus,
	.navbar-default .navbar-nav > .dropdown.active.open > a,
	.navbar-default .navbar-nav > .dropdown.active.open > a:hover,
	.navbar-default .navbar-nav > li.dropdown.active.open > a:hover,
	.navbar-default .navbar-nav > li.dropdown.active.open > a:focus {
		color: $text-contrast-palette-primary_4;
	}
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus,
	.navbar-default .navbar-nav > .current-menu-parent > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus  {
		color: $text-contrast-palette-primary_4;
	    background: $palette-primary_4;
	}
	
	/*-----------------------------------------------
	## 5
	-----------------------------------------------*/
	/* Custom */
	.colored-bg h2,
	.colored-bg h3,
	.colored-bg h4,
	.colored-bg p {
		color: $palette-primary_5;
	}

	/*-----------------------------------------------
	## Neutral
	-----------------------------------------------*/
	.navbar-default .navbar-toggle .icon-bar {
		background: $text-contrast-palette-primary-neutral-color;
	}
	.site-title a,
	.site-description,
	.navbar-default .navbar-text,
	.navbar-default .navbar-nav > li > a {
		color: $palette-primary-neutral-color;
	}

	/* Custom */
	.call-to-action h2,
	.call-to-action h4 {
		color: $palette-primary-neutral-color;
	}
}

.palette-primary.disabled-footer .site-footer {
	background-color: $palette-primary_3;
}
.palette-primary.disabled-footer .site-footer a {
	color: $palette-primary_1;
}
